body {
    font-family: 'Times New Roman', sans-serif;
    background-color:#147d22;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-weight: 100px;
    text-align: center;
    color:#ffffff;
}

form {
    background-color:#3bee83;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #f7cbde;
    border-radius: 3px;
    margin: 5px 0;
    box-sizing: border-box;
    color:#f7cbde;
}

button[type="submit"] {
    background-color: #f54f97;
    color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: #f54f97;

}


form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 800;
    line-height: 20px;
    color: #ffffff

}

button[type="reset"] {
    background-color: #f54f97;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
}

button[type="reset"]:hover {
    background-color: #ffffff;
    color: #f54f97;
}

form.container {
    display: flex;
    justify-content: space-around;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}